/* Cabeza de la página */
header {
    background-color: #F5A623;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Cuerpo de página */
body {
    font-family:Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Contenido principal */
main {
    background-color: beige;
    padding: 2rem;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.receta {
    background-color: white;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.imagen-receta {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 100%;
    border-radius: 10px;
}

.caracteristicas ul {
    list-style: square;
    padding-left: 20px;
    text-align: left;
}

.caracteristicas ul li span {
    color: #F5A623;
}

.caracteristicas ul li {
    margin-bottom: 10px;
}

.elaboracion {
    line-height: 1.6;
}

.ingredientes {
    margin-top: 0.5rem;
}

.ingredientes table {
    width: 100%;
    border-collapse: collapse;
}

.ingredientes table thead {
    background-color: #F5A623;
    color: white;
    padding: 0.75rem 1rem;
    text-align: center;
    font-style: bold;
}

.ingredientes table tbody {
    padding: 0.65rem 1rem;
    border-bottom: 1px solid #eee;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

.ingredientes table tbody:last-child {
    border-bottom: solid transparent;
}

.receta h1 {
    color: #F5A623;
    text-align: center;
}

h2 {
    color: #F5A623;
}