body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
}

.contenido-principal {
    padding: 0 2rem 2rem 2rem;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.cabecera-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
}

header img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

.contenedor-principal h1 {
    text-align: center;
}

.contenedor-tarjetas-productos {
    display: grid;
}