body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor-principal {
    padding: 0 2rem 2rem 2rem;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.cabecera-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

.contenedor-principal h1 {
    text-align: center;
}

.contenedor-tarjetas-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.tarjeta {
    border: 2px solid #CCC;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-color: #F9F9F9;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img {
    max-width: 75%;
    border-radius: 10px;
}

.tarjeta h2 {
    color: #333;
}

.descripcion-producto {
    color: #777;
}

.precio-producto {
    font-size: 1.25rem;
    color: #E74C3C;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    margin-top: auto;
}