body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    min-height: 100vh;
}

.contenedor-principal {
=======
}

.contenido-principal {
>>>>>>> 0618e2cd0a1e462adea04530360772d48895fb51
    padding: 0 2rem 2rem 2rem;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.cabecera-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
=======
    vertical-align: center;
>>>>>>> 0618e2cd0a1e462adea04530360772d48895fb51
}

header img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

.contenedor-principal h1 {
    text-align: center;
}

.contenedor-tarjetas-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.tarjeta {
<<<<<<< HEAD
    border: 2px solid #CCC;
=======
    border: 2px #CCC;
>>>>>>> 0618e2cd0a1e462adea04530360772d48895fb51
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-color: #F9F9F9;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
<<<<<<< HEAD
    transition: transform 0.3s, box-shadow 0.3s;
=======
    transition-duration: 0.5s;
>>>>>>> 0618e2cd0a1e462adea04530360772d48895fb51
}

.tarjeta img {
    max-width: 75%;
    border-radius: 10px;
}

.tarjeta h2 {
    color: #333;
}

.descripcion-producto {
    color: #777;
}

.precio-producto {
    font-size: 1.25rem;
    color: #E74C3C;
<<<<<<< HEAD
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    margin-top: auto;
=======
>>>>>>> 0618e2cd0a1e462adea04530360772d48895fb51
}